.main {
  width: 100%;
}

.new_button_container {

}

.new_button {
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  background-color: #007bff;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.new_button:hover {
  background-color: #0056b3;
}